body {
    background-image: url('Background.jpg');
    background-size: cover;
    background-color: #2a2a2a;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Geometos_ExtraBold;
}


@font-face {
    font-family: Geometos_ExtraBold;
    src: local("Geometos_ExtraBold"), url("Geometos.ttf");
}

.hexagonal-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 1000px;
}

.hex {
    width: 130px;
    height: 130px;
    margin: 0px;
    position: relative;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    background-color: #3333339c;
    transition: background-color 0.3s;
}

.hex a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
    color: #fff;
}

.hex:hover {
    background-color: #ffcc00;
}

.hex .icon {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.hex .text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}
